@font-face {
  font-family: 'SAP Fiori Icons';
  src :  url('https://sapui5.hana.ondemand.com/1.60.13/resources/sap/ui/core/themes/base/fonts/SAP-icons.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
