/* latin */
@font-face {
 font-family: 'MyWebfont';
 font-style: normal;
 font-weight: 400;
 display: swap;
  src: url('https://sapui5.hana.ondemand.com/1.60.13/resources/sap/ui/core/themes/base/fonts/SAP-icons.woff2') format('woff');
}
